<% Array.from(articles).forEach((item, number) => { %>
    <div class="blog">
        <div class="article">
            <h3 type="text" class="blog-title"><%= item.title %></h3>
            <h4 type="text" class="blog-author"><%= item.author %></h4>
            <p class="blog-content"><%= item.content %></p>     
        </div>
        <div class="feedback-form-container">
            <h4>Leave feedback here:</h4>
            <form class="feedback-form">
                <div class="feedback-form-group">
                    <label for="feedback-form__name">Your Name:</label>
                    <input type="text" class="feedback-form__name" placeholder="Enter your name, please...">
                </div>
                <div class="feedback-form-group">
                    <textarea type="text" class="feedback-form__content" placeholder="Place your feedback here"></textarea>
                </div>
                <div class="feedback-form-group">
                    <input type="submit" class="feedback-form__submit" value="Submit feedback">
                </div>
            </form>
        
            <div class="feedback-form-group">
                <h4>Recent feedbacks</h4>
                <div class="feedback-form__recent-feedbacks">Nobody left a feedback...</div>
            </div>
    
            <hr>
            
        </div>
    </div>    
<% }); %>