<div class='chat-container'>
    <div class='chat-header'>
        <h2>Tour chat</h2>
    </div>
        <form name='chatForm' class=chat-form>
            <label class='chat-label' for="chat-input__name">Name</label>
            <input id='chatName' type='text' class='chat-input__name' placeholder="Your name...">
            <lable class='chat-label' for='chat-input__message'>Message</lable>
            <input id='chatMessage' type='text' class="chat-input__message" placeholder='Your message...'>
            <input type="submit" class="chat-input__submit" value="Submit your message">
        </form>
    <div class='chat-board'>
        <p class="chat-board__invitation">Chat...</p>
    </div>
</div><!-- chat-container -->