<footer class="tour__footer">
    <p class="footer__copy">&copy; Tour agency</p>
    <div class="footer__info">
        <a class="info__privacy-policy" title="Privacy Policy" href="#">Privacy Policy</a>
        <a class="info__terms-of-service" title="Terms of Service" href="#">Terms of Service</a>
    </div>
</footer><!-- footer -->