<header class="tour__header">
    <a class="header__logo" href="#" title="Tour agency"><span class="logo__text">Tour agency</span></a>
    <div class="header__hero">
        <h1 class="hero__h1">Hot tours every day!</h1>
        <a class="tour-link-btn hero__a" href="#" title="Try it now">Try<span class="hero__span"> it now</span></a>
    </div>
</header><!-- header -->