<nav class="tour__nav">
    <ul class="nav__menu">
        <li class="menu__item"><a class="item__link" title="Home" href="/">Home</a></li>
        <li class="menu__item"><a class="item__link" title="Destinations" href="#" aria-haspopup="true">Destinations</a>
            <ul class="menu__submenu">
                <li class="submenu__item"><a class="item__link" title="Paris" href="#">France</a></li>
                <li class="submenu__item"><a class="item__link" title="Rome" href="#">Italy</a></li>
                <li class="submenu__item"><a class="item__link" title="London" href="#">The UK</a></li>
            </ul>
        </li>
        <li class="menu__item"><a class="item__link" title="Maps" href="#">Maps</a></li>
        <li class="menu__item"><a class="item__link" title="Blog" href="/feedback">Blog</a></li>
        <li class="menu__item"><a class="item__link" title="Contact" href="/chat">Chat</a></li>
        <li class="menu__item"><a class="item__link" title="Contact" href="/contact">Contact</a></li>
        <li class="menu__item"><a class="item__link" title="Login" href="#">Login</a></li>
    </ul>
</nav><!-- nav -->