<!DOCTYPE>
<html>
<head><% include partials/template/head.ejs %></head>
<body id="<%= pageID %>">

	<div id="tour" class="tour">

		<% include partials/template/header.ejs %>

		<section class="tour__main">

			<% include partials/content/blog-article.ejs %>
					
		</section><!-- tour-main -->

		<% include partials/template/navigation-menu.ejs %>

		<% include partials/template/footer.ejs %>

	</div><!-- tour -->
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
