<!DOCTYPE>
<html>
<head><% include partials/template/head.ejs %></head>
<body id="<%= pageID %>">

	<div id="tour" class="tour">

		<% include partials/template/header.ejs %>

		<section class="tour__main">
			<% include partials/content/blog-article.ejs %>
			<!-- <% include partials/content/feedback-form.ejs %> -->
			<!-- <div class="feedback-form-container">
				<h2>Leave feedback here:</h2>
				<form class="feedback-form">
					<div class="feedback-form-group">
						<label for="feedback-form__name">Your Name:</label>
						<input type="text" class="feedback-form__name" placeholder="Enter your name, please...">
					</div>
					<div class="feedback-form-group">
						<label for="feedback-form__title">Feedback's title: </label>
						<input type="text" class="feedback-form__title" placeholder="Enter your title, please...">
					</div>
					<div class="feedback-form-group">
						<textarea type="text" class="feedback-form__content" placeholder="Place your feedback here"></textarea>
					</div>
					<div class="feedback-form-group">
						<input type="submit" class="feedback-form__submit" value="Submit feedback">
					</div>
				</form>
			
				<div class="feedback-form-group">
					<h3>Recent feedbacks</h3>
					<div class="feedback-form__recent-feedbacks"></div>
				</div> -->
		</section><!-- tour-main -->

		<% include partials/template/navigation-menu.ejs %>

		<% include partials/template/footer.ejs %>

	</div><!-- tour -->
	<% include partials/template/jsdefaults.ejs %>
</body>
</html>
